<div class="card" >
    <img [src]="imageUrl" class="card-img-top" [alt]="jogo.nome" height="250px">
    <div class="card-body">
        <h5 class="card-title">{{jogo.nome}}</h5>
        <p class="card-text">{{jogo.descricao}}</p>
        <p class="card-text">Autor: {{usuario.userName}}</p>
        <p class="card-text">URL: <a href="{{jogo.urlJogo}}" target="_blank">{{jogo.urlJogo}}</a></p>
        <h1 class="text-primary">
            <ngb-rating [max]="5" [(rate)]="nota" [readonly]="relatorio"></ngb-rating>
        </h1>
        <div *ngIf="relatorio === false">
            <a role="button" class="btn btn-info m-1"  [routerLink]="['/ver-avaliacoes/'+jogo.id]">Ver outras avaliações desse jogo</a>
        </div>
    </div>
</div>