<div class="m-2" style="width: 230px;">
    <div class="card p-2">
        <a class="btn btn-dark my-1" routerLink="">Ver meu perfil</a>
        <a class="btn btn-dark my-1" routerLink="/atualiza-perfil">Atualizar meu perfil</a>
        <a class="btn btn-dark my-1" *ngIf="usuario.ehAdmin === 'true'" routerLink="/cadastrar-jogos">Cadastrar jogo</a>
        <a class="btn btn-dark my-1" routerLink="/listar-jogos">Ver jogos</a>
        <a class="btn btn-dark my-1" routerLink="/listar-categorias">Ver categorias</a>
        <a class="btn btn-dark my-1" routerLink="/listar-jogos-recomendados">Ver jogos recomendados</a>
        <a class="btn btn-dark my-1" routerLink="/jogos-mais-avaliados">Avaliações mais uteis</a>
        <a class="btn btn-dark my-1" *ngIf="usuario.ehAdmin === 'true'" routerLink="/ver-relatorios">Ver relatórios</a>
    </div>
</div>