<div class="card" >
    <img [src]="imageUrl" class="card-img-top" [alt]="jogo.nome" height="250px">
    <div class="card-body">
        <h5 class="card-title">{{jogo.nome}}</h5>
        <p class="card-text">{{jogo.descricao}}</p>
        <p class="card-text">Autor: {{userName}}</p>
        <h1 class="text-primary">
            <ngb-rating [max]="5" [(rate)]="jogo.nota" [readonly]="relatorio" (rateChange)="avaliacao($event)"></ngb-rating>
        </h1>
        <div *ngIf="usuario.ehAdmin && relatorio === false">
            <button type="button" class="btn btn-info m-1" (click)="openModalEditar(jogo)">Editar</button>
            <button type="button" class="btn btn-danger m-1" (click)="deletarJogo(jogo)">Deletar</button>
        </div>
    </div>
</div>