<section class="">
    <div class="container py-2 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <div class="d-flex justify-content-around align-items-center mb-4" style="font-size: 24px;">
                    <b>CADASTRO</b>
                </div>
                <form>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form1Example13">Email</label>
                        <input type="email" id="form1Example13" class="form-control form-control-lg" />
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form1Example23">Senha</label>
                        <input type="password" id="form1Example23" class="form-control form-control-lg" />
                    </div>

                    <div class="d-flex justify-content-around align-items-center mb-4">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Cadastrar</button>
                    </div>

                </form>
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <img src="https://www12.senado.leg.br/noticias/materias/2022/03/15/incidencia-de-iss-sobre-e-games-passa-na-cae-e-vai-ao-plenario/20181207_01385.jpg/@@images/image/imagem_materia"
                    class="img-fluid rounded" alt="Phone image">                
            </div>
        </div>
    </div>
</section>
