<section>
    <div class="container py-2 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <div class="d-flex justify-content-around align-items-center mb-4" style="font-size: 24px;">
                    <b>CADASTRO</b>
                </div>
                <div>
                    <!-- Nome input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="formNome">Nome</label>
                        <input type="text" id="formNome" class="form-control form-control-lg"
                            [(ngModel)]="usuario.nome" />
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="formEmail">Email</label>
                        <input type="email" id="formEmail" class="form-control form-control-lg"
                            [(ngModel)]="usuario.email"/>
                    </div>

                    <!-- UserName input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="formUserName">Nome do usuário</label>
                        <input type="text" id="formUserName" class="form-control form-control-lg"
                            [(ngModel)]="usuario.userName"  autocomplete="off" onkeypress="return event.charCode != 32"/>
                    </div>

                    <!-- Senha input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="formSenha">Senha</label>
                        <input type="password" id="formSenha" class="form-control form-control-lg"
                            [(ngModel)]="usuario.senha" autocomplete="off"/>
                    </div>

                    <!-- Data de nascimento input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="formDataNascimento">Data de nascimento</label>
                        <input type="date" id="formDataNascimento" class="form-control form-control-lg"
                            [(ngModel)]="usuario.dataNascimento" />
                    </div>

                    <div class="col row">
                        <div class="col">
                            <!-- Estado input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="formEstado">Estado</label>
                                <input type="text" id="formEstado" class="form-control form-control-lg"
                                    [(ngModel)]="usuario.estado" />
                            </div>
                        </div>
                        <div class="col">
                            
        
                            <!-- País input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="formPais">País</label>
                                <input type="text" id="formPais" class="form-control form-control-lg"
                                    [(ngModel)]="usuario.pais" />
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-around align-items-center mb-4">
                        <button class="btn btn-primary btn-lg btn-block" [disabled]="!validaUsuario()"
                            (click)="cadastro()">Cadastrar</button>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <img src="https://www12.senado.leg.br/noticias/materias/2022/03/15/incidencia-de-iss-sobre-e-games-passa-na-cae-e-vai-ao-plenario/20181207_01385.jpg/@@images/image/imagem_materia"
                    class="img-fluid rounded" alt="Phone image">
            </div>
        </div>
    </div>
</section>